<div class="container col-10">
    <div class="row" style="margin: 1% 0;">
        <a href="/Home/Category" class="col-xl-3 col-lg-4 col-sm-6 g-3 footer_link" style="text-align: center;">
            <img src="https://dogily.vn/wp-content/uploads/2021/11/cho-samoyed-con-mau-trang-2-thang-tuoi-7-400x400.jpg" class="img-fluid rounded" />
            <p style="margin: 2% 0; font-weight: 600">ĐỒ CHO CHÓ</p>
        </a>
        <a href="/Home/Category" class="col-xl-3 col-lg-4 col-sm-6 g-3 footer_link" style="text-align: center;">
            <img src="https://dogily.vn/wp-content/uploads/2021/05/tinh-cach-meo-toyger-400x400.jpg" class="img-fluid rounded" />
            <p style="margin: 2% 0; font-weight: 600">ĐỒ CHO MÈO</p>
        </a>
        <a href="/Home/Category" class="col-xl-3 col-lg-4 col-sm-6 g-3 footer_link" style="text-align: center;">
            <img src="https://dogily.vn/wp-content/uploads/2021/12/royal-canin-poodle-adult-5-400x400.jpg" class="img-fluid rounded" />
            <p style="margin: 2% 0; font-weight: 600">THỨC ĂN CHO CHÓ</p>
        </a>
        <a href="/Home/Category" class="col-xl-3 col-lg-4 col-sm-6 g-3 footer_link" style="text-align: center;">
            <img src="https://dogily.vn/wp-content/uploads/2021/12/hat-royal-canin-aln-1-400x400.jpg" class="img-fluid rounded" />
            <p style="margin: 2% 0; font-weight: 600">THỨC ĂN CHO CHÓ</p>
        </a>
        <a href="/Home/Category" class="col-xl-3 col-lg-4 col-sm-6 g-3 footer_link" style="text-align: center;">
            <img src="https://dogily.vn/wp-content/uploads/2023/06/HAT-ROYAL-CANIN-MEDIUM-PUPPY-4KG-400x400.jpg" class="img-fluid rounded" />
            <p style="margin: 2% 0; font-weight: 600">HẠT CHO CHÓ</p>
        </a>
        <a href="/Home/Category" class="col-xl-3 col-lg-4 col-sm-6 g-3 footer_link" style="text-align: center;">
            <img src="https://dogily.vn/wp-content/uploads/2021/12/hat-whiskas-cho-meo-con-2-12-thang-vi-ca-bien-va-sua-tui-11-kg-7-400x400.jpg" class="img-fluid rounded" />
            <p style="margin: 2% 0; font-weight: 600">HẠT CHO MÈO</p>
        </a>
        <a href="/Home/Category" class="col-xl-3 col-lg-4 col-sm-6 g-3 footer_link" style="text-align: center;">
            <img src="https://dogily.vn/wp-content/uploads/2023/05/quan-ao-cho-cho-400x400.jpg" class="img-fluid rounded" />
            <p style="margin: 2% 0; font-weight: 600">QUẦN ÁO CHO CHÓ</p>
        </a>
        <a href="/Home/Category" class="col-xl-3 col-lg-4 col-sm-6 g-3 footer_link" style="text-align: center;">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/quan-ao-cho-meo-400x400.jpg" class="img-fluid rounded" />
            <p style="margin: 2% 0; font-weight: 600">QUẦN ÁO CHO CHÓ</p>
        </a>
        <a href="/Home/Category" class="col-xl-3 col-lg-4 col-sm-6 g-3 footer_link" style="text-align: center;">
            <img src="https://dogily.vn/wp-content/uploads/2023/05/quan-ao-cho-cho-400x400.jpg" class="img-fluid rounded" />
            <p style="margin: 2% 0; font-weight: 600">QUẦN ÁO CHO CHÓ</p>
        </a>
        <a href="/Home/Category" class="col-xl-3 col-lg-4 col-sm-6 g-3 footer_link" style="text-align: center;">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/quan-ao-cho-meo-400x400.jpg" class="img-fluid rounded" />
            <p style="margin: 2% 0; font-weight: 600">QUẦN ÁO CHO CHÓ</p>
        </a>
    </div>
</div>
