
@{
    ViewBag.Title = "Nhà đệm cho chó mèo";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="container-fluid" style="border-bottom: 1px solid #c0c0c0;">
    <div class="container col-10">
        <div class="row">
            <div class="col-6 g-4 p-3">
                <img src="https://dogily.vn/wp-content/uploads/2023/08/14c3cff8342503398ffd12edc8d813a8-1024x1024.jpeg" class="img-fluid rounded" />
            </div>
            <div class="col-6 g-4">
                <p class="pro_nav">
                    <a href="/Home/Index">Trang chủ</a> /
                    <a href="/Home/Category">Phụ kiện thú cưng</a>
                </p>
                <h3 style="margin: 0; padding-bottom: 2%; border-bottom: 1px solid #fcb000; font-weight: 600">Nhà nệm cho chó mèo</h3>
                <p class="p-3 my-0">
                    <a class="footer_link" style="font-size: 1.1rem;" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa-solid fa-chevron-down"></i>
                        Mô tả
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="container col-11">
                        <h5 style="font-weight: 600">Đánh giá</h5>
                        <p>Chưa có đánh giá nào.</p>
                    </div>
                </div>
                <p class="p-3 my-0">
                    <a class="footer_link" style="font-size: 1.1rem;" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa-solid fa-chevron-down"></i>
                        Đánh giá (<span class="comment_count">0</span>)
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="container col-11">
                        <h5 style="font-weight: 600">Đánh giá</h5>
                        <p>Chưa có đánh giá nào.</p>
                    </div>
                </div>
                <p class="mt-3" style="color: #f80000; font-size: 1.2rem; font-weight: 700;">400,000<sup>₫</sup></p>
                <div class="row">
                    <div class="btn-group col-2" role="group">
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            <i class="fa-solid fa-minus" style="font-size: 0.5rem"></i>
                        </button>
                        <button type="button" class="btn" disabled>1</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            <i class="fa-solid fa-plus" style="font-size: 0.5rem"></i>
                        </button>
                    </div>
                    <div class="col-5">
                        <a href="#" class="btn" style="background-color: #000099; color: #fff; font-weight: 600; width: 95%">
                            THÊM VÀO GIỎ HÀNG
                        </a>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4 g-3">
                        <button type="button" class="btn px-4 py-2 mx-3" style="background-color: #d69704; color: #fff; font-weight: 600; font-size: 1.1rem;">
                            <i class="fa-solid fa-phone"></i>
                            GỌI NGAY
                        </button>
                    </div>
                    <div class="col-6 g-3">
                        <button type="button" class="btn chat px-4 py-2">
                            <i class="fa-solid fa-user"></i>
                            CHAT VỚI DOGILY
                        </button>
                    </div>
                </div>
                <div class="container col-12 mt-3 mb-4 rounded" style="border: 1px solid #f80000; box-shadow: 0 -1px 0 #f80000; padding: 0;">
                    <div class="py-3" style="text-align: center; background-color: #f2f2f2">
                        <b>Tham khảo thêm</b>
                    </div>
                    <div class="rounded m-3" style="background-color: #f8efef">
                        <ul style="line-height: 40px">
                            <li>Website: <a href="https://dogily.vn/" class="footer_link">https://dogily.vn/</a></li>
                            <li>Facebook: <a href="https://www.facebook.com/DogilyPetshop" class="footer_link">https://www.facebook.com/DogilyPetshop</a></li>
                            <li>Youtube: <a href="https://www.youtube.com/c/DogilyPetshop/" class="footer_link">https://www.youtube.com/c/DogilyPetshop/</a></li>
                            <li>Instagram: <a href="https://www.instagram.com/dogilypetshop/" class="footer_link">https://www.instagram.com/dogilypetshop/</a></li>
                            <li>
                                <i class="fa-solid fa-tty"></i>
                                Điện thoại:
                                <a href="#" class="footer_link">0965 086 079</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container col-10">
    <h5 class="m-2" style="font-weight: 600">CÓ THỂ BẠN THÍCH</h5>
    <div class="row">
        <a href="/Home/ProductDetail" class="col-2 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/653bb4d910b5a12c7e2fe12ac30c3aab-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình cá mập cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">385,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-2 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/653bb4d910b5a12c7e2fe12ac30c3aab-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình cá mập cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">385,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-2 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/653bb4d910b5a12c7e2fe12ac30c3aab-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình cá mập cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">385,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-2 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/653bb4d910b5a12c7e2fe12ac30c3aab-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình cá mập cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">385,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-2 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/653bb4d910b5a12c7e2fe12ac30c3aab-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình cá mập cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">385,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-2 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/653bb4d910b5a12c7e2fe12ac30c3aab-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình cá mập cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">385,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-2 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/653bb4d910b5a12c7e2fe12ac30c3aab-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình cá mập cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">385,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-2 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/653bb4d910b5a12c7e2fe12ac30c3aab-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình cá mập cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">385,000<sup>₫</sup></p>
        </a>
    </div>
</div>
<div class="container-fluid" style="background-color: #fff5e0;">
    <div class="container">
        <h1 style="font-size: 1.3rem; font-weight: 600; color: #3509d3; text-align: center" class="p-4">
            <sup style="color: #d69704; font-size: 2.3rem; font-weight: 900">___</sup>
            KHÁCH HÀNG CHECKIN
            <sup style="color: #d69704; font-size: 2.3rem; font-weight: 900">___</sup>
        </h1>
    </div>
    <div class="container col-10">

    </div>
</div>

@Html.Partial("CaringVideos")

